---
layout: default
title: Will Usher
---
{% include JB/setup %}

<div class="row col-12 mt-4">
	<div class="col-12 float-sm-left col-sm-5">
		<img class="rounded img-fluid" src="https://i.imgur.com/HZO90XJ.jpg">
	</div>
	<div class="col-12 col-sm-4 text-left">
		<h2 class="display-4">Will Usher</h2>
		<h4>Graphics Software Engineer</h4>
		<p>
		<i class="fas fa-map-marker"></i> Intel
		<br/>
		<a href="https://github.com/Twinklebear"><i class="fab fa-github"></i> Twinklebear</a>
		<br/>
		<a href="https://twitter.com/_wusher"><i class="fab fa-twitter"></i> _wusher</a>
		<br/>
        <a id="envelope">
			<i class="far fa-envelope"></i>
            <span id="envelope-text"></span>
		</a>
		<br/>
		<a href="https://scholar.google.com/citations?user=yQI5iyAAAAAJ">
			<i class="fas fa-graduation-cap"></i> Google Scholar profile</a>
        <br/>
        <i class="fas fa-rss"></i>
            <a href="/atom.xml">Atom</a>/<a href="/rss.xml">RSS</a>
		</p>
	</div>
	<div class="col-12 mb-4 mt-3">
		<!-- I'm torn whether or not I like the display class -->
		<h2 class="border-bottom border-secondary">Bio</h2>
		<div class="col-12">
            I'm a Graphics Software Engineer at Intel working on the
            <a href="https://software.intel.com/content/www/us/en/develop/tools/oneapi/rendering-toolkit.html">
                oneAPI Rendering Toolkit</a>.
            My focus is on XPU ray tracing, distributed rendering, and scientific visualization
            within <a href="https://www.ospray.org/">OSPRay</a>.
            Outside of Intel, I work on
            XPU ray tracing, GPU/WebGPU scientific visualization and rendering,
            and other projects involving massive scientific data visualization across
            computing platforms from HPC clusters to the web browser.
            I completed my Ph.D. in Computer Science in 2021 at the
			<a href="https://sci.utah.edu/">Scientific Computing and Imaging Institute</a> at the
			<a href="https://www.cs.utah.edu/">University of Utah</a>, advised by
			<a href="http://www.pascucci.org/">Valerio Pascucci</a>.
			Before joining the Ph.D. program at Utah I obtained a B.S. in
			physics with a minor in computer science at the
			<a href="https://www.ucr.edu/">University of California, Riverside</a> in 2014.
			My research interests cover a range of areas in scientific visualization and
			computer graphics including: distributed rendering, virtual reality,
			in situ visualization and ray tracing.
		</div>
	</div>
	<div class="col-12 mb-1">
		<h2 class="border-bottom border-secondary">Publications</h2>
        <ul class="nav nav-tabs" id="pubTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="selectedPubsTab" data-toggle="tab" href="#selectedPublications" role="tab"
                    aria-controls="selectedPublications" aria-selected="true">
                    Selected Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="allPubsTab" data-toggle="tab" href="#allPublications" role="tab"
                    aria-controls="allPublications" aria-selected="false">
                    All Publications</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="selectedPublications" role="tabpanel" aria-labelledby="selectedPubsTab">
                <div class="col-12 mt-4"></div>
                {% for pub in site.data.publications %}
                    {% if pub.selected %}
                        {% include publication_listing.html %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="allPublications" role="tabpanel" aria-labelledby="allPubsTab">
                <div class="col-12 mt-4"></div>
                {% for pub in site.data.publications %}
                    {% include publication_listing.html %}
                {% endfor %}
            </div>
        </div>
	</div>
	<div class="col-12">
		<h2 class="border-bottom border-secondary">Selected Projects</h2>
		<div class="col-12 justify-content-center row">
		{% for prj in site.data.projects limit:6 %}
		<div class="row col-12 col-sm-4 mb-3">
			<div class="col-12 mx-auto">
				<img class="rounded img-fluid" src="{{prj.thumb}}">
			</div>
			<div class="col-12 text-center text-sm-left">
				<h5><b>{{prj.title}}</b></h5>
				<a class="mr-2" href="/projects#{{prj.title}}">
					<i class="far fa-file-alt"></i> Project Page</a>
				<a href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}">
					<i class="fab fa-github"></i> Code</a>
			</div>
		</div>
		{% endfor %}
		<div>
		<div class="col-12 text-center">
			<h5>More projects can be found on my <a href="/projects">projects page</a>.</h5>
		</div>
	</div>
</div>

<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script type="text/javascript" src="assets/homepage.js">
<script type="text/javascript">
window.onload = function() {
	var clip = new Clipboard(".bib");
	$(function () {
		$('[data-toggle="popover"]').popover()
	})
}
</script>

